In [1]:
#Import Libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report 
import re
import string

In [2]:
#import dataset
data_fake= pd.read_csv('C:/Users/Ambris/Desktop/Data Science Projects/Fake News Detection Dataset/Fake.csv')
data_True= pd.read_csv('C:/Users/Ambris/Desktop/Data Science Projects/Fake News Detection Dataset/True.csv')

In [3]:
#Showing head of fake data
data_fake.head()

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [4]:
#Showing head of True data
data_True.head()

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,31-Dec-17
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,29-Dec-17
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,31-Dec-17
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,30-Dec-17
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,29-Dec-17

In [5]:
#Creating a target class for each data set
data_fake['class']=0
data_True['class']=1

In [6]:
#fetching shape of datasets for numpy and pd
data_fake.shape, data_True.shape

((23481, 5), (21417, 5))

In [7]:
#Removing last 10 rows for manual testing
data_fake_manual_testing = data_fake.tail(10)
for i in range(23480,23470,-1): 
    data_fake.drop([i], axis=0 ,inplace= True)

data_True_manual_testing = data_True.tail(10)
for i in range(21416, 21406, -1):
    data_True.drop([i], axis=0, inplace=True)

In [8]:
data_fake.shape, data_True.shape

((23471, 5), (21407, 5))

In [9]:
data_fake_manual_testing['class']=0
data_True_manual_testing['class']=1

C:\Users\Ambris\AppData\Local\Temp\ipykernel_3488\3431951168.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_fake_manual_testing['class']=0
C:\Users\Ambris\AppData\Local\Temp\ipykernel_3488\3431951168.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_True_manual_testing['class']=1

In [10]:
#Viewing columns of data used for manual testing
data_fake_manual_testing.head(10)

,title,text,subject,date,class
23471,Seven Iranians freed in the prisoner swap have...,"21st Century Wire says This week, the historic...",Middle-east,"January 20, 2016",0
23472,#Hashtag Hell & The Fake Left,By Dady Chery and Gilbert MercierAll writers ...,Middle-east,"January 19, 2016",0
23473,Astroturfing: Journalist Reveals Brainwashing ...,Vic Bishop Waking TimesOur reality is carefull...,Middle-east,"January 19, 2016",0
23474,The New American Century: An Era of Fraud,Paul Craig RobertsIn the last years of the 20t...,Middle-east,"January 19, 2016",0
23475,Hillary Clinton: ‘Israel First’ (and no peace ...,Robert Fantina CounterpunchAlthough the United...,Middle-east,"January 18, 2016",0
23476,McPain: John McCain Furious That Iran Treated ...,21st Century Wire says As 21WIRE reported earl...,Middle-east,"January 16, 2016",0
23477,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,21st Century Wire says It s a familiar theme. ...,Middle-east,"January 16, 2016",0
23478,Sunnistan: US and Allied ‘Safe Zone’ Plan to T...,Patrick Henningsen 21st Century WireRemember ...,Middle-east,"January 15, 2016",0
23479,How to Blow $700 Million: Al Jazeera America F...,21st Century Wire says Al Jazeera America will...,Middle-east,"January 14, 2016",0
23480,10 U.S. Navy Sailors Held by Iranian Military ...,21st Century Wire says As 21WIRE predicted in ...,Middle-east,"January 12, 2016",0

In [11]:
data_True_manual_testing.head(10)

,title,text,subject,date,class
21407,"Mata Pires, owner of embattled Brazil builder ...","SAO PAULO (Reuters) - Cesar Mata Pires, the ow...",worldnews,22-Aug-17,1
21408,"U.S., North Korea clash at U.N. forum over nuc...",GENEVA (Reuters) - North Korea and the United ...,worldnews,22-Aug-17,1
21409,"U.S., North Korea clash at U.N. arms forum on ...",GENEVA (Reuters) - North Korea and the United ...,worldnews,22-Aug-17,1
21410,Headless torso could belong to submarine journ...,COPENHAGEN (Reuters) - Danish police said on T...,worldnews,22-Aug-17,1
21411,North Korea shipments to Syria chemical arms a...,UNITED NATIONS (Reuters) - Two North Korean sh...,worldnews,21-Aug-17,1
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,22-Aug-17,1
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,22-Aug-17,1
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,22-Aug-17,1
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,22-Aug-17,1
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,22-Aug-17,1

In [12]:
#Merge Data sets
data_merge = pd.concat([data_fake,data_True], axis=0)
data_merge

,title,text,subject,date,class
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0
...,...,...,...,...,...
21402,Exclusive: Trump's Afghan decision may increas...,ON BOARD A U.S. MILITARY AIRCRAFT (Reuters) - ...,worldnews,22-Aug-17,1
21403,U.S. puts more pressure on Pakistan to help wi...,WASHINGTON (Reuters) - The United States sugge...,worldnews,21-Aug-17,1
21404,Exclusive: U.S. to withhold up to $290 million...,WASHINGTON (Reuters) - The United States has d...,worldnews,22-Aug-17,1
21405,Trump talks tough on Pakistan's 'terrorist' ha...,ISLAMABAD (Reuters) - Outlining a new strategy...,worldnews,22-Aug-17,1
21406,"U.S., North Korea clash at U.N. forum over nuc...",GENEVA (Reuters) - North Korea and the United ...,worldnews,22-Aug-17,1

In [13]:
data_merge.columns

Index(['title', 'text', 'subject', 'date', 'class'], dtype='object')

In [14]:
data = data_merge.drop(['title', 'subject','date'], axis=1)

In [15]:
data.columns

Index(['text', 'class'], dtype='object')

In [16]:
data.head()

                                                text  class
0  Donald Trump just couldn t wish all Americans ...      0
1  House Intelligence Committee Chairman Devin Nu...      0
2  On Friday, it was revealed that former Milwauk...      0
3  On Christmas day, Donald Trump announced that ...      0
4  Pope Francis used his annual Christmas Day mes...      0

In [17]:
#check for null values
data.isnull().sum()

text     0
class    0
dtype: int64

In [18]:
#random shuffling of the data
data= data.sample( frac = 1)

In [19]:
data.head()

                                                    text  class
1177   Over the last nine years or so, there has been...      0
19450  OSU will receive more than $212 million in fed...      0
12545  ISTANBUL (Reuters) - Turkish warplanes hit Kur...      1
9109   Please see our previous report below on the Mc...      0
16268  LONDON (Reuters) - Scotland s independence-min...      1

In [20]:
#Resetting the index
data.reset_index(inplace= True)
data.drop(['index'], axis=1, inplace= True)

In [21]:
data.columns

Index(['text', 'class'], dtype='object')

In [22]:
data.head()

                                                text  class
0  Over the last nine years or so, there has been...      0
1  OSU will receive more than $212 million in fed...      0
2  ISTANBUL (Reuters) - Turkish warplanes hit Kur...      1
3  Please see our previous report below on the Mc...      0
4  LONDON (Reuters) - Scotland s independence-min...      1

In [23]:
#Creating Function to process the text
def wordprocess(text):
    text = text.lower() #converting upper cases to lower case
    text = re.sub('\[.*?\]','',text) #removing punctuation 
    text = re.sub("\\W", " ", text) #Replacing non word characters
    text = re.sub('https?://\S+|www\.\S+', ' ', text) #removing links starting with https and www.
    text = re.sub('<.*?>+',' ', text) #removing signs 
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text) #To escape the string characters 
    text = re.sub('\n','', text) #removes characters on new lines
    text = re.sub('\w*\d\w', '', text) #remove characters that do have words with numbers that are in valid
    return text

In [24]:
#Applying function on dataset
data['text'] = data['text'].apply(wordprocess)

In [25]:
#Defining Dependent and independent variable
x = data['text']
y = data['class']

In [26]:
#Splitting data into test and train
x_train, x_test, y_train, y_test= train_test_split(x,y, test_size=0.25)

In [27]:
#Vectorization/ Turning all text to vectors
from sklearn.feature_extraction.text import TfidfVectorizer

vectorization = TfidfVectorizer()
xv_train = vectorization.fit_transform(x_train)
xv_test = vectorization.transform(x_test)

In [28]:
#Apply logistic Regression

from sklearn.linear_model import LogisticRegression

LR = LogisticRegression()
LR.fit(xv_train, y_train)

LogisticRegression()

In [29]:
#Prediction 
pred_lr = LR.predict(xv_test)

In [30]:
#Accuracy
LR.score(xv_test, y_test)

0.9879679144385026

In [31]:
#Classification Report
print(classification_report(y_test, pred_lr))

              precision    recall  f1-score   support

           0       0.99      0.99      0.99      5853
           1       0.99      0.99      0.99      5367

    accuracy                           0.99     11220
   macro avg       0.99      0.99      0.99     11220
weighted avg       0.99      0.99      0.99     11220

In [32]:
#Decision Tree Classification

from sklearn.tree import DecisionTreeClassifier

DT = DecisionTreeClassifier()
DT.fit(xv_train, y_train)

DecisionTreeClassifier()

In [33]:
#Prediction 
pred_dt = DT.predict(xv_test)

In [34]:
#Accuracy
DT.score(xv_test, y_test)

0.9950980392156863

In [35]:
#Classification Report
print(classification_report(y_test, pred_dt))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00      5853
           1       0.99      0.99      0.99      5367

    accuracy                           1.00     11220
   macro avg       1.00      1.00      1.00     11220
weighted avg       1.00      1.00      1.00     11220

In [36]:
#Gradient Bossting Classifier

from sklearn.ensemble import GradientBoostingClassifier

GB = GradientBoostingClassifier( random_state = 0)
GB.fit(xv_train, y_train)

GradientBoostingClassifier(random_state=0)

In [37]:
pred_gb = GB.predict(xv_test)

In [38]:
GB.score(xv_test, y_test)

0.9946524064171123

In [39]:
print(classification_report(y_test, pred_gb))

              precision    recall  f1-score   support

           0       1.00      0.99      0.99      5853
           1       0.99      1.00      0.99      5367

    accuracy                           0.99     11220
   macro avg       0.99      0.99      0.99     11220
weighted avg       0.99      0.99      0.99     11220

In [40]:
#Random Forest Classifier

from sklearn.ensemble import RandomForestClassifier

RF = RandomForestClassifier(random_state = 0)
RF.fit(xv_train,y_train)

RandomForestClassifier(random_state=0)

In [41]:
pred_rf= RF.predict(xv_test)

In [42]:
RF.score(xv_test, y_test)

0.9902852049910873

In [43]:
print(classification_report(y_test, pred_rf))

              precision    recall  f1-score   support

           0       0.99      0.99      0.99      5853
           1       0.99      0.99      0.99      5367

    accuracy                           0.99     11220
   macro avg       0.99      0.99      0.99     11220
weighted avg       0.99      0.99      0.99     11220

In [73]:
#Functions created for model testing

def output_label(n):
    if n==0:
        return"Fake News"
    elif n==1:
        return"Verified News"

def manual_testing(news):
    testing_news= {"text": [news]}
    new_def_test = pd.DataFrame(testing_news)
    new_def_test["text"] = new_def_test["text"].apply(wordprocess)
    new_x_test = new_def_test["text"]
    new_xv_test = vectorization.transform(new_x_test)
    pred_LR = LR.predict(new_xv_test)
    pred_DT = DT.predict(new_xv_test)
    pred_GB = GB.predict(new_xv_test)
    pred_RF = RF.predict(new_xv_test)
    
    return print("\n\nLR Prediction: {} \nDT Prediction: {} \nGBC Prediction: \nRFC Prediction: {}".format(output_label(pred_LR[0]),
                                                                                                            output_label(pred_GB[0]),
                                                                                                            output_label(pred_RF[0])))

In [74]:
news = str(input())
manual_testing(news)

Donald Trump just couldn t wish all Americans a Happy New Year and leave it at that. Instead, he had to give a shout out to his enemies, haters and  the very dishonest fake news media.  The former reality show star had just one job to do and he couldn t do it. As our Country rapidly grows stronger and smarter, I want to wish all of my friends, supporters, enemies, haters, and even the very dishonest Fake News Media, a Happy and Healthy New Year,  President Angry Pants tweeted.  2018 will be a great year for America! As our Country rapidly grows stronger and smarter, I want to wish all of my friends, supporters, enemies, haters, and even the very dishonest Fake News Media, a Happy and Healthy New Year. 2018 will be a great year for America!  Donald J. Trump (@realDonaldTrump) December 31, 2017Trump s tweet went down about as welll as you d expect.What kind of president sends a New Year s greeting like this despicable, petty, infantile gibberish? Only Trump! His lack of decency won t even allow him to rise above the gutter long enough to wish the American citizens a happy new year!  Bishop Talbert Swan (@TalbertSwan) December 31, 2017no one likes you  Calvin (@calvinstowell) December 31, 2017Your impeachment would make 2018 a great year for America, but I ll also accept regaining control of Congress.  Miranda Yaver (@mirandayaver) December 31, 2017Do you hear yourself talk? When you have to include that many people that hate you you have to wonder? Why do the they all hate me?  Alan Sandoval (@AlanSandoval13) December 31, 2017Who uses the word Haters in a New Years wish??  Marlene (@marlene399) December 31, 2017You can t just say happy new year?  Koren pollitt (@Korencarpenter) December 31, 2017Here s Trump s New Year s Eve tweet from 2016.Happy New Year to all, including to my many enemies and those who have fought me and lost so badly they just don t know what to do. Love!  Donald J. Trump (@realDonaldTrump) December 31, 2016This is nothing new for Trump. He s been doing this for years.Trump has directed messages to his  enemies  and  haters  for New Year s, Easter, Thanksgiving, and the anniversary of 9/11. pic.twitter.com/4FPAe2KypA  Daniel Dale (@ddale8) December 31, 2017Trump s holiday tweets are clearly not presidential.How long did he work at Hallmark before becoming President?  Steven Goodine (@SGoodine) December 31, 2017He s always been like this . . . the only difference is that in the last few years, his filter has been breaking down.  Roy Schulze (@thbthttt) December 31, 2017Who, apart from a teenager uses the term haters?  Wendy (@WendyWhistles) December 31, 2017he s a fucking 5 year old  Who Knows (@rainyday80) December 31, 2017So, to all the people who voted for this a hole thinking he would change once he got into power, you were wrong! 70-year-old men don t change and now he s a year older.Photo by Andrew Burton/Getty Images.


LR Prediction: Fake News
DT Prediction: Fake News
GBC Prediction:
RFC Prediction: Fake News

In [75]:
news = str(input())
manual_testing(news)

Republican leaders in the U.S. House of Representatives are working to build support to temporarily extend the National Security Agencyâ€™s expiring internet surveillance program by tucking it into a stop-gap funding measure, lawmakers said. The month-long extension of the surveillance law, known as Section 702 of the Foreign Intelligence Surveillance Act, would punt a contentious national security issue into the new year in an attempt to buy lawmakers more time to hash out differences over various proposed privacy reforms.  Lawmakers leaving a Republican conference meeting on Wednesday evening said it was not clear whether the stop-gap bill had enough support to avert a partial government shutdown on Saturday, or whether the possible addition of the Section 702 extension would impact its chances for passage. Absent congressional action the law, which allows the NSA to collect vast amounts of digital communications from foreign suspects living outside the United States, will expire on Dec. 3


LR Prediction: Verified News
DT Prediction: Fake News
GBC Prediction:
RFC Prediction: Verified News

In [76]:
news = str(input())
manual_testing(news)

WASHINGTON (Reuters) - A coalition of nearly 20 environmental and Native American tribal groups sued the Trump administration on Tuesday, challenging its delay of a rule limiting emissions of the powerful greenhouse gas methane from oil and gas drilling operations on federal lands. Earlier this month, the Bureau of Land Management, part of the Department of the Interior, suspended implementation of the rule for a year, until Jan. 17, 2019, saying it wanted to avoid compliance costs for energy companies as it revises the regulation. The delay â€œis yet another action taken by the Trump administration to benefit the oil and gas industry at the expense of the American public, particularly the millions of Westernersâ€ who use public lands for ranching, hunting, hiking and other purposes, Darin Schroeder, a lawyer with the Clean Air Task Force, said in a statement. His organization represented the National Wildlife Federation, one of the groups that filed the lawsuit against Interior Secretary Ryan Zinke and his department. Energy companies say the rule, finalized at the end of the Obama administration in 2016, could cost them tens of thousands of dollars per well.  The Trump administration is expected to announce a new draft rule in coming weeks, in line with its policy of maximizing output of oil, gas and coal and dismantling regulations it says prevent job growth.  The rule targets accidental leaks and intentional venting of methane from drilling operations on public lands, where about 9 percent of the countryâ€™s natural gas and 5 percent of its oil were produced last fiscal year. Some of its 2017 provisions have already been phased in, but the majority of them have yet to go into effect. The lawsuit, also filed by the Sierra Club, the Environmental Defense Council, and the DinÃ© Citizens Against Ruining Our Environment, a Navajo group, seeks to stop the delay and force the Interior Department to implement the rule in January. It was filed in the U.S. District Court for the Northern District of California in San Francisco.  The Interior Department did not immediately respond to a request for comment on the lawsuit.


LR Prediction: Verified News
DT Prediction: Verified News
GBC Prediction:
RFC Prediction: Verified News